{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>{{ lesson.name }}</h1>
    </div>
    <div class="row">
        <p class="center">Visualisez la vidéo et répondez au quizz pour valider votre cours.</p>
    </div>
    <div class="row">
        <!-- API Youtube -->
        <div class="center">
            <div id="ytplayer"></div>
        </div>
    </div>
    {% if wrong %}
        <!-- Mauvaise réponses dans le formulaire -->
        <h2>Il y a une erreur !</h2>{% endif %}
    <div class="row">
        <div class="col offset-m3 m6">
            <div class="card indigo quizz">
                <div class="card-content                                                                                                                                        ">
                    <span class="card-title">Quizz</span>
                    <!-- Formulaire quizz -->
                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <div class="button">
                    <button type="submit" class="waves-effect waves-light btn indigo darken-4">Envoyer</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%  block javascripts %}
{{ parent() }}
    <script>
        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                height: '360',
                width: '640',
                videoId: '{{ lesson.urlytb }}'
            });
        }
    </script>
{% endblock %}