{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>{{ lesson.name }}</h1>
    </div>
    <div class="row">
        <p class="center">Visualisez la vidéo et répondez au quizz pour valider votre cours.</p>
    </div>
    <div class="row">
        <div class="center">
            <iframe id="ytplayer" type="text/html" width="640" height="360"
                    src="http://www.youtube.com/embed/{{ lesson.urlytb }}?autoplay=0&origin=http://example.com"
                    frameborder="0">

            </iframe>
        </div>
    </div>
    {% if wrong %}<h2>Il y a une erreur !</h2>{% endif %}
    <div class="row">
        <div class="col offset-m3 m6">
            <div class="card indigo quizz">
                <div class="card-content                                                                                                                                        ">
                    <span class="card-title">Quizz</span>
                    {{ form_start(form) }}

                    {{ form_widget(form) }}
                    <div class="button">
                    <button type="submit" class="waves-effect waves-light btn indigo darken-4">Envoyer</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#{{ form_end(form) }}#}

{% endblock %}