{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>{{ lesson.name | capitalize }}</h1>
    </div>
    <div class="row">
        <p class="center">Visualisez la vidéo entièrement pour répondre au quizz et valider votre cours.</p>
    </div>
    <div class="row">
        <!-- API Youtube -->
        <div class="center">
            <div id="player"></div>
        </div>
    </div>
    {% if wrong %}
        <!-- Mauvaise réponses dans le formulaire -->
        <h2>Il y a une erreur !</h2>
    {% endif %}
    <div class="row">
        <div class="col offset-s1 s10 offset-l3 l6">
            <div class="card green darken-4 quizz" id="quizz">
                <div class="card-content                                                                                                                                        ">
                    <span class="card-title"><i class="material-icons left">format_list_bulleted</i> Quizz</span>
                    <!-- Formulaire quizz -->
                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <div class="button">
                    <button type="submit" class="waves-effect waves-light btn green darken-4">Envoyer</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%  block javascripts %}
{{ parent() }}
    <script src="http://www.youtube.com/player_api"></script>

    <script>

        // create youtube player
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
                width: '640',
                height: '390',
                videoId: '{{ lesson.urlytb }}',
                events: {
                    onReady: onPlayerReady,
                    onStateChange: onPlayerStateChange
                }
            });
        }

        // autoplay video
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {
            if(event.data === 0) {
                document.getElementById('quizz').style.display = 'block';
            }
        }

    </script>
{% endblock %}