{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12 offset-m1 m10">
            <ul>
                <li>
                    <a href="{{ path('admin_question_index', { 'id': question.lesson.id}) }}">Retour aux questions</a>
                </li>
            </ul>
            <h1>{{ question.name | capitalize }}</h1>
            <h2>Liste des réponses</h2>

            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Correct</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for answer in answers %}
                    <tr>
                        <td><a href="{{ path('admin_answer_show', { 'id': answer.id }) }}">{{ answer.id }}</a></td>
                        <td>{{ answer.name }}</td>
                        <td>{% if answer.correct %}Oui{% else %}Non{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_answer_show', { 'id': answer.id }) }}">voir</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_answer_edit', { 'id': answer.id }) }}">éditer</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('admin_answer_new', { 'id': question.id }) }}">Créer une nouvelle réponse</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
