{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12 offset-m1 m10">
            <h1>Espace administration</h1>
            <h2>Liste des cours</h2>

            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>ID Youtube</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td><a href="{{ path('admin_lesson_show', { 'id': lesson.id }) }}">{{ lesson.id }}</a></td>
                        <td>{{ lesson.name }}</td>
                        <td>{{ lesson.urlytb }}</td>
                        <td>
                                <p>
                                    <a href="{{ path('admin_lesson_show', { 'id': lesson.id }) }}"><i class="material-icons left">remove_red_eye</i>Voir</a>
                                </p>
                                <p>
                                    <a href="{{ path('admin_lesson_edit', { 'id': lesson.id }) }}"><i class="material-icons left">build</i>Editer</a>
                                </p>
                                <p>
                                    <a href="{{ path('admin_question_index', { 'id': lesson.id }) }}"><i class="material-icons left">live_help</i>Questions</a>
                                </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

                <p>
                    <a href="{{ path('admin_lesson_new') }}"><i class="material-icons left">add_circle_outline</i>Créer un nouveau cours</a>
                </p>
        </div>
    </div>

{% endblock %}
