{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12 offset-m1 m10">
            <h1>Cours</h1>

            <table>
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ lesson.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ lesson.name }}</td>
                </tr>
                <tr>
                    <th>ID Youtube</th>
                    <td>{{ lesson.urlytb }}</td>
                </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('admin_lesson_index') }}">Retour aux cours</a>
                </li>
                <li>
                    <a href="{{ path('admin_lesson_edit', { 'id': lesson.id }) }}">Editer</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
